@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
   body{
    background-color: rgb(210, 210, 210);
   }
}

.slick-slide > div{
   margin: 0px 10px;
}

.slick-dots li button::before{
   color: white;
   background: white;
   border-radius: 50%;
   margin-top: 10px;
}
.slick-prev:before, .slick-next:before {
   color: black;
   background-color: blueviolet;
   border-radius: 50%;
   font-size: 23px;
}

